* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(106, 99, 99);
}

body {
    all: unset !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(106, 99, 99);
    height: 80px;
    border-bottom: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    align-items: center;
    z-index: 9999;
}

.header .utils {
    display: flex;
    justify-content: right;
    gap: 50px;
}


.header .utils .header-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
}

.header .utils .header-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: -5px; 
    left: 50%;
    background-color: white; 
    transition: width 0.5s ease, left 0.5s ease; 
}

.header .utils .header-link:hover::after {
    width: 100%; 
    left: 0; 
}

.header .logo {
    display: flex;
}

.header .logo .header-text
{
    font-size: 36px;
    font-weight: 900;
}



.header .search {
    display: flex;
    align-items: center;
    position: relative;
}

.header .search .search-input
{
    background-color: white;
    border: none;
    height: 40px;
    width: 500px;
    padding-left: 40px;
    border-radius: 15px;
    color: rgb(106, 99, 99);
    font-size: 20px;
}
.header .search .search-icon 
{
    font-size: 20px;
    position: absolute;
    left: 10px;
    color: rgb(106, 99, 99);
    background-color: white;
}
.header .search .search-input:focus
{
    outline: none;
}





.main{
    padding-top: 80px;
}

.main .main-img
{
    width: 100%; /* Или установите фиксированную ширину для изображения */
    height: 838px;
    opacity: 0.6;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}

.main .main-div-img
{
    position: relative;
    border-bottom: 3px solid white;
}

.img-text {
    position: absolute;
    left: 60%; 
    width: 100%; 
    color: white; 
    background: none;
  }
  
  .img-first-text {
    top: 20%; /* Позиционирование от верха контейнера */
    font-size: 60px;
  }
  
  .img-second-text {
    top: 35%; 
    font-size: 35px;/* Позиционирование ниже первого текста */
    width: 500px;
  }

.react-multiple-carousel__arrow::before
{
    font-size: 50px;
    font-weight: 900;
}

.react-multiple-carousel__arrow
{
    background: none;
}

.react-multiple-carousel__arrow:hover
{
    background: none;
}


.main .main-theaters {
    padding: 60px 100px;
}
.main .main-theaters .main-theaters-text
{
    font-size: 50px;
    color: white;
    padding-bottom: 30px;
}

.main .main-theaters .filter-button
{
    font-size: 22px;
    padding: 10px 15px;
    width: max-content;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    border: 4px solid white;
    text-align: center;
    color: white;

    transition: background-color 1s, color 1s;
}

.main .main-theaters .filter-button:hover
{
    transition: background-color 1s, color 1s;
    background-color: white;
    color: rgb(106, 99, 99);
}

.main .main-theaters .filter-button.active
{
    background-color: white;
    gap: 20px;
}

.main .main-theaters .filter-button.multi
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-filter
{
    background-color: white;
    color: rgb(106, 99, 99);
}

.dark-filter
{
    background-color: rgb(106, 99, 99);
    color: white;
}

.main .main-theaters .filter-button .filter-arrow
{
    font-size: 22px;
}

.main-theaters-filter
{
    display: flex;
}

.main-theater-grid
{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    margin-top: 60px !important;
    width: 100% !important;
    gap: 50px !important;
    box-sizing: border-box !important;
    text-align: left;
    margin-bottom: 60px;
}

.theater
{
    transition: background-color 0.7s ease !important;
    border-radius: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    height: 280px !important;
    width: 100% !important;
    position: relative !important;
    overflow: hidden !important;
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Moscow-Bolshoi-Theare-1.jpg/274px-Moscow-Bolshoi-Theare-1.jpg'); Путь к вашему изображению */
    background-size: cover !important; /* Покрыть весь элемент, сохраняя пропорции */
    background-position: center !important; /* Центрирование изображения */
    cursor: pointer !important;
}

.theater::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: rgba(0, 0, 0, 0) !important; /* Изначально прозрачный */
    transition: background-color 0.7s ease, border 0.7s ease !important; /* Плавное изменение фона */
    border: 2px solid rgba(255, 255, 255, 0) !important;
    border-radius: 20px !important;
}
  
.theater:hover::before {
background: rgba(0, 0, 0, 0.6) !important; /* Затемнение при наведении */
border: 2px solid rgba(255, 255, 255, 1) !important;

}

.theater-name, .theater-year, .theater-discription {
    transition: transform 0.7s ease, opacity 0.7s ease, padding-top 0.7s ease !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0px 20px !important;
    color: white !important;
    font-size: 16px !important;
}

.theater-name
{
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    padding: 15px 20px !important;
    align-items: center !important;
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
    font-size: 20px !important;
    transform: translateY(180px) !important;
    /* justify-content: space-between;
    flex-direction: column; */
}


.theater-year, .theater-discription {
    transform: translateY(180px) !important; /* Смещаем элементы вниз */
    padding-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.theater-year {
    padding-top: 20px !important;
}

.theater:hover .theater-name {
/* Поднимаем theater-name вверх */
    transform: translateY(0px) !important;
    border-bottom: 2px solid white !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding-top: 50px !important;
}

.theater:hover .theater-year, 
.theater:hover .theater-discription {
  /* Делаем theater-year и theater-discription видимыми и перемещаем в исходное положение */
  opacity: 1 !important;
  transform: translateY(0px) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.main-padding 
{
    padding: 0 100px;
}

.main-theater {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-theater .head-theater-text {
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 25px 0;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.nav-tabs {
    border-bottom: 3px solid var(--bs-nav-tabs-border-color) !important;
    --bs-nav-tabs-border-width: none !important;
}

.tab-slider {
    position: absolute;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.max-w {
    width: 100%;
}

.main-theater-info {
}

.main-theater-info-row {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
}

.text-w5 {
    color: white;
    font-weight: 500;
}

.size-20 {
    font-size: 20px;
}

.size-30 {
    font-size: 30px;
}

a {
    color: white !important;
    font-size: 20px;
    transition: font-size 0.3s ease;
}

a:hover {
    color: white !important;
    font-size: 21px;
}

.main-theater-info-history {
    margin-top: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px
}

